html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "montserrat";
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.tile1 {
  width: 100%;
  height: 700px;
  background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_517194189_373099.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  text-align: center;
}

.main-text-h2 {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.main-text-h3 {
  padding-top: 270px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-transform: uppercase;
  color: #ffffff;
}

.tile2 {
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  text-align: center;
}

.secondary-h2-part2 {
  margin-top: 60px;
  text-align: left;
  margin-left: -950px;
  color: #565151;
  float: left;
}

h3 {
  text-transform: uppercase;
  color: #535454;
  margin-left: -43px;
}

.firstandfourth-point {
  margin-left: 150px;
  padding-left: 40px;
  width: 350px;
  color: #3c3a3a;
  float: left;
  text-align: left;
  margin-top: 40px;
}

.point {
  padding-left: 100px;
  margin-top: 40px;
  width: 350px;
  color: #535454;
  float: left;
  text-align: left;
}

.white-rectangle {
  background-color: #ffffff;
  width: 300px;
  height: 400px;
  margin-left: 50px;
  float: left;
  margin-top: 200px;
}

.gray-stripe {
  height: 22px;
  width: 240px;
  margin-top: 50px;
  background-color: #2f2f2f;
  color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
}

.mastering {
  color: #3c3a3a;
  margin-top: 30px;
  margin-bottom: 0px;
}

.the-client-meeting {
  color: #ea4f53;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 15px;
}

hr {
  width: 80px;
  border-color: #ea4f53;
}

.logo {
  width: 60px;
  height: 60px;
}

.main-text {
  width: 500px;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  height: 700px;
  color: #ffffff;
  text-align: left;
}

.text {
  padding-top: 0px;
  margin-top: 3px;
}

.form-rectangle-header {
  width: 400px;
  height: 100px;
  background-color: #ea4f53;
  color: #ffffff;
  float: left;
  margin-top: 150px;
}

.form-rectangle {
  width: 400px;
  height: 330px;
  background-color: #ffffff;
  float: left;
}

.fname {
  width: 170px;
  height: 40px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.lname {
  width: 170px;
  height: 40px;
  margin-right: 10px;
}

.mail {
  width: 363px;
  height: 40px;
  margin-bottom: 30px;
}

.entity {
  width: 363px;
  height: 40px;
  margin-bottom: 30px;
}

.ebook {
  width: 369px;
  height: 40px;
  margin-bottom: 30px;
  background-color: #ea4f53;
  color: #ffffff;
}
